body {
    background-color: #1A7317;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    nav {
        background-color: #010326;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    nav img {
        padding: 20px;
        width: 10%;
        height: 100%;
    }

    ul {

        display: flex;
    }
    
    li {
        font-variant: small-caps;
        font-size: 15px;
        list-style: none;
        margin: 0 30px;
    }

    a {
        color:#FCFCFD;
        text-decoration: none;
    }

    .menu a {
        position: relative;
        display: inline-block;
      }
      
      .menu a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: #ffffff;
        transition: width .3s;
        bottom: 0;
        left: 50%;
      }
      
      .menu a[aria-current="page"]::after {
        width: 100%;
        left: 0;
      }
      
}